.carrousel {
    width: 600px; 
    overflow: hidden;
    margin: auto;
}
.img {
    display: flex;
    transition: transform 0.5s ease;
}
.img img {
    width: 600px; /* même taille que le conteneur*/
    flex-shrink: 0;
}
.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}